*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #dbf1f7;
    color: #062f63;
}

/* HEADER */

header{
    background-color: #062f63;
    padding: 20px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.logo{
    width: 180px;
    margin-bottom: 15px;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #40b0fd;
}

/* CONTEÚDO */

main{
    text-align: center;
    padding: 50px 20px;
}

h1{
    font-size: 2.5rem;
    color: #062f63;
    margin-bottom: 15px;
}

main p{
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #555;
}

/* CARDS */

.card{
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.08);

    border-top: 5px solid #40b0fd;

    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

.card h2{
    color: #062f63;
    margin-bottom: 10px;
}

.card p{
    color: #666;
}

/* FOOTER */

footer{
    background-color: #062f63;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}